.main {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    
    background-color: oldlace;
    height: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

.main2{
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    
    background-color: oldlace;
    height: auto;
    margin-top: 35px;
    margin-bottom: 35px;

}

body{
    background-color: papayawhip;
    font-family: 'Philosopher', sans-serif;
}

/* next buttons  */

#nextButtons{
    text-align: center;
}

#next0{
    display: none;
    margin-top: 5px;
}
#next1{
    display: none;
    margin-top: 30px;
}
#next2{
    display: none;
}
#next3{
    display: none;
}
#next4{
    display: none;
}

button{
    padding: 1px;
    font-family: 'Philosopher', sans-serif;
}

fieldset{
    font-family: 'Philosopher', sans-serif;
}



/* Chapters */

#chap1{
    display: none;
    text-align: left;
}


