#main {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    background-color: oldlace;
    height: 400px;
    margin-top: 35px;
}

body{
    background-color: papayawhip;
}


